{# templates/admin/index.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body{
            background-color:skyblue;
        }
    </style>
</head>
<body>
<h1>User Dashboard</h1>

<ul>
    <li><a href="{{ path('app_default') }}">Home</a></li>
    <li><a href="{{ path('logout') }}">Logout</a></li>
</ul>

</body>
</html>
